<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://github.com/Isaurabhdubey">
        <!-- <span class="glyphicon glyphicon-home"></span> Saurabh Kumar -->
        <i class="fa fa-home" aria-hidden="true"> Saurabh Kumar</i>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <!-- <li ui-sref-active="active"><a ui-sref="home">Home</a></li>-->
        <li ui-sref-active="active" ng-repeat="item in vm.data"><a ui-sref="{{item.state}}">{{item.name}}</a></li>
        <!-- <li ui-sref-active="active"><a ui-sref="home.contact">Contact</a></li> -->
      </ul>
      <!-- <a class="navbar-brand pull-right" href="https://github.com/Isaurabhdubey">
         <span class="glyphicon glyphicon-home"></span> Saurabh Kumar
        <i class="fa fa-sign-out" aria-hidden="true"> Logout</i>
      </a> -->
      <div class="navbar-brand pull-right">
        <button ng-click="vm.click()">Logout</button>
      </div>
    </div>
  </div>
</nav>
